

<h1> Welcome to Zeno Ultra </h1>
<h1> $val </h1>

<form method="POST" action="/login/">
   <input type="text" name="username" placeholder="Username"/>
   <input type="submit" value="Login"/>
</form>
